Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix

feat: handle file input cancellation
  src/utils/fileStorage.js
  src/utils/fileStorage.test.js
Due: prettier, eslint

feat: add cloneDeep fallback and update undo hook
  src/hooks/useUndo.js
  src/hooks/useUndo.test.jsx
  src/utils/cloneDeep.js
Due: prettier, eslint

fix: clone character state when applying damage
  src/components/DamageModal.jsx
  src/components/DamageModal.test.jsx
Due: prettier, eslint

test: add requestAnimationFrame polyfill
  src/setupTests.js
Due: prettier, eslint

chore: configure vitest globals
  eslint.config.js
Due: prettier, eslint

chore: add typescript eslint support
  eslint.config.js
  package-lock.json
  package.json
Due: prettier, eslint

refactor: scope LevelUpModal styles with CSS modules
  src/components/LevelUpModal.jsx
  src/components/LevelUpModal.module.css
  src/components/LevelUpModal.test.jsx
Due: prettier, eslint

test: use tauri-driver for e2e
  package.json
  tests/app.e2e.spec.ts
  vitest.e2e.config.js
Due: prettier, eslint

chore: add eslint js config
  package-lock.json
  package.json
Due: prettier

fix: create app data directory before resolving path
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: none

chore: add tsconfig
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/main.tsx
  tsconfig.json
  vite.config.js
Due: prettier, eslint

fix: guard App against localStorage failures
  src/App.jsx
  src/App.test.jsx
Due: prettier, eslint

test: ensure aid modal cleanup on unmount
  src/hooks/useDiceRoller.cleanup.test.jsx
  src/hooks/useDiceRoller.js
Due: prettier, eslint

docs: expand required commands
  AGENTS.md
Due: prettier

chore: reference non-commercial license in package metadata
  package.json
Due: prettier

test: consolidate confirm mock setup
  src/App.test.jsx
Due: prettier, eslint

docs: document export and import
  README.md
Due: prettier

feat: persist character data
  src/state/CharacterContext.jsx
  src/state/CharacterContext.test.jsx
Due: prettier, eslint

feat: support multiple characters
  src/App.jsx
  src/components/CharacterSwitcher.jsx
  src/components/CharacterSwitcher.test.jsx
  src/components/ExportModal.jsx
  src/components/ExportModal.test.jsx
  src/state/CharacterContext.jsx
  src/state/CharacterContext.test.jsx
Due: prettier, eslint

docs: update codex for new modals
  docs/codex.md
Due: prettier

style: use theme tokens for HUD panel colors
  src/components/CharacterAvatar.module.css
  src/components/CharacterHUD/Portrait.module.css
  src/components/CharacterStats.module.css
  src/components/DiceRoller.module.css
  src/components/InventoryPanel.module.css
  src/components/LevelUpModal.module.css
  src/components/SessionNotes.module.css
  src/components/StatusTray.module.css
Due: prettier

style: replace deprecated color tokens
  src/components/BondsModal.module.css
  src/components/DamageModal.module.css
  src/components/EndSessionModal.module.css
  src/components/ExportModal.module.css
  src/components/InventoryPanel.module.css
  src/components/LevelUpModal.module.css
  src/components/RollModal.module.css
  src/components/SessionNotes.module.css
Due: prettier

feat(theme): add distinct fonts for classic and moebius
  README.md
  docs/hud-theme.md
  src/styles/theme.css
Due: prettier

test: expand theme switcher coverage
  tests/e2e/theme-switcher.spec.ts
Due: prettier, eslint

style: rely on gap for button spacing
  src/components/AidInterfereModal.module.css
  src/components/BondsModal.module.css
  src/components/DamageModal.module.css
  src/components/EndSessionModal.module.css
  src/components/ExportModal.module.css
  src/components/InventoryModal.module.css
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.module.css
  src/components/RollModal.module.css
  src/components/StatusModal.module.css
  src/styles/AppStyles.module.css
Due: prettier

refactor: remove unused button style
  src/components/styles.js
Due: prettier, eslint

test: use window resize for modal layout
  src/components/DamageModal.test.jsx
  src/components/ExportModal.test.jsx
Due: prettier, eslint

feat(ui): add reusable button components
  src/App.jsx
  src/App.test.jsx
  src/Header.test.jsx
  src/components/DamageModal.jsx
  src/components/DamageModal.module.css
  src/components/DamageModal.test.jsx
  src/components/ExportModal.jsx
  src/components/ExportModal.module.css
  src/components/ExportModal.test.jsx
  src/components/common/Button.jsx
  src/components/common/Button.module.css
  src/components/common/ButtonGroup.jsx
  src/components/common/ButtonGroup.module.css
  src/styles/AppStyles.module.css
Due: prettier, eslint

chore: remove playwright
  README.md
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/button-layout.spec.ts
  tests/e2e/resource-bars.spec.ts
  tests/e2e/theme-switcher.spec.ts
  tsconfig.json
Due: prettier, eslint

chore: fix codex preflight workflow indentation
  .github/workflows/codex-preflight.yml
Due: prettier

docs: update webdriverio e2e setup
  README.md
Due: prettier

test: update character context tests for new API
  .github/workflows/_canary-dispatch.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/codex-preflight.yml
  src/components/CharacterSwitcher.test.jsx
  src/components/DamageModal.test.jsx
  src/state/CharacterContext.test.jsx
Due: prettier, eslint

feat: improve file error handling
  src/state/CharacterContext.jsx
  src/state/CharacterContext.test.jsx
Due: prettier, eslint

refactor: remove unused createDefaultCharacter
  src/state/CharacterContext.jsx
Due: prettier, eslint

feat: improve file storage error handling
  src/utils/fileStorage.js
  src/utils/fileStorage.test.js
Due: prettier, eslint

fix(dice-roller): use stable roll history keys
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
  src/components/LevelUpModal.jsx
  src/hooks/useDiceRoller.js
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
