Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html, yaml]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        args: ['--fix']
      - id: vitest
        name: vitest
        entry: npm test
        language: system
        pass_filenames: false

fix: label basic dice buttons
  src/components/DiceRoller.jsx
Due: prettier, eslint

fix: clarify hack and slash aria label
  src/components/DiceRoller.jsx
Due: prettier, eslint

fix: streamline dice roller sections
  src/components/DiceRoller.jsx
Due: prettier, eslint

build: set relative base path
  vite.config.js
Due: prettier, eslint

feat: add Safari backdrop filter fallback
  src/App.css
Due: prettier

style: add webkit backdrop filter before standard
  src/App.css
  src/components/AidInterfereModal.module.css
  src/components/CharacterAvatar.module.css
  src/components/CharacterHUD/Portrait.module.css
  src/components/CharacterStats.module.css
  src/components/DiceRoller.module.css
  src/components/InventoryPanel.module.css
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.module.css
  src/components/RollModal.module.css
  src/components/SessionNotes.module.css
Due: prettier

perf: use transform for move expansion
  src/components/LevelUpModal.module.css
Due: prettier

fix: add charset to html content type
  vite.config.js
Due: prettier, eslint

build: add hashed filenames
  vite.config.js
Due: prettier, eslint

fix: add frame ancestors to csp
  src-tauri/tauri.conf.json
Due: prettier

fix: add cache-control headers for dev server
  vite.config.js
Due: prettier, eslint

feat: add X-Frame-Options header
  src-tauri/src/lib.rs
  vite.config.js
Due: prettier, eslint

feat(styles): add grid layout areas
  src/styles/AppStyles.module.css
Due: prettier

feat: improve dice roll accessibility
  src/components/DiceRoller.jsx
  src/components/DiceRoller.module.css
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

fix: improve session notes panel height
  docs/hud-theme.md
  src/App.jsx
  src/components/SessionNotes.module.css
  src/styles/theme.css
Due: prettier, eslint

feat: add modal transition hook
  src/components/AddItemModal.jsx
  src/components/AddItemModal.module.css
  src/components/AidInterfereModal.jsx
  src/components/AidInterfereModal.module.css
  src/components/BondsModal.jsx
  src/components/BondsModal.module.css
  src/components/DamageModal.jsx
  src/components/DamageModal.module.css
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.module.css
  src/components/ExportModal.jsx
  src/components/ExportModal.module.css
  src/components/InventoryModal.jsx
  src/components/InventoryModal.module.css
  src/components/LastBreathModal.jsx
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.jsx
  src/components/LevelUpModal.module.css
  src/components/RollModal.jsx
  src/components/RollModal.module.css
  src/components/StatusModal.jsx
  src/components/StatusModal.module.css
  src/components/common/useModalTransition.js
Due: prettier, eslint

style: update grid layout breakpoints
  src/App.css
  src/styles/AppStyles.module.css
Due: prettier

feat: show full inventory with responsive grid
  src/components/InventoryPanel.jsx
  src/components/InventoryPanel.module.css
Due: prettier, eslint

feat: improve focus outlines
  src/App.css
  src/components/AddItemModal.module.css
  src/components/AidInterfereModal.module.css
  src/components/BondsModal.module.css
  src/components/CharacterStats.module.css
  src/components/DiceRoller.module.css
  src/components/EndSessionModal.module.css
  src/components/InventoryPanel.module.css
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.module.css
  src/components/RollModal.module.css
  src/components/SessionNotes.module.css
  src/styles/theme.css
Due: prettier

fix(vite): merge server headers
  vite.config.js
Due: prettier, eslint

fix(tauri): configure X-Frame-Options header
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: prettier

refactor: build main window in setup
  src-tauri/src/lib.rs
Due: none

refactor: remove deprecated web resource request hook
  src-tauri/src/lib.rs
Due: none

chore: configure security headers
  src-tauri/tauri.conf.json
Due: prettier

fix: update tauri security header config
  src-tauri/tauri.conf.json
Due: prettier

chore: pin testing-library deps for React 19
  package-lock.json
  package.json
Due: prettier

chore: include vite config js
  tsconfig.json
Due: prettier

fix: create missing directories during path resolution
  src-tauri/src/lib.rs
Due: none

fix: remove invalid security header
  src-tauri/tauri.conf.json
Due: prettier

fix: remove duplicate window creation
  src-tauri/src/lib.rs
Due: none

fix(tauri): allow dev fonts in CSP
  src-tauri/tauri.conf.json
Due: prettier

fix(tauri): remove unused setup
  src-tauri/src/lib.rs
Due: none

chore: add PR template for UX stages
  .github/pull_request_template.md
Due: prettier

chore: add UX Stage issue template
  .github/ISSUE_TEMPLATE/ux-stage.md
Due: prettier

docs: document useUndo order
  docs/undo.md
  src/App.jsx
Due: prettier, eslint

docs: add UX upgrade plan (no runtime changes)
  docs/ux-upgrade-plan.md
Due: prettier

chore: restore PR & Issue templates
  .github/ISSUE_TEMPLATE/ux-stage.md
  .github/pull_request_template.md
Due: prettier
