Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html, yaml]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        args: ['--fix']
      - id: vitest
        name: vitest
        entry: npm test
        language: system
        pass_filenames: false

feat: add BugBot-level analysis capabilities
  .github/workflows/centralized-pr-automation.yml
  docs/bugbot-setup.md
  package.json
Due: prettier

feat: add automated setup scripts for BugBot tools
  docs/bugbot-setup.md
  scripts/add-bugbot-secrets.ps1
  scripts/quick-bugbot-setup.ps1
  scripts/setup-bugbot-tools.ps1
Due: prettier

revert: remove OWASP changes, keep workflow focused on core tools
  .github/workflows/centralized-pr-automation.yml
Due: prettier

feat: implement proper SonarCloud GitHub Actions integration
  .github/workflows/centralized-pr-automation.yml
  docs/sonarcloud-setup.md
Due: prettier

feat: switch to SonarCloud's official recommended setup
  .github/workflows/centralized-pr-automation.yml
  sonar-project.properties
Due: prettier

fix: add PR checkout logic to analyze and auto-fix jobs
  .github/workflows/centralized-pr-automation.yml
Due: prettier

fix: add git user configuration to prevent workflow failures
  .github/workflows/centralized-pr-automation.yml
Due: prettier

fix: add sonar-project.properties to PR branch for SonarCloud analysis
  sonar-project.properties
Due: none

feat: add complete auto pipeline for all PRs
  .github/workflows/auto-process-all-prs.yml
  scripts/auto-process-all-prs.ps1
Due: prettier

fix: recreate centralized-pr-automation.yml with PR number cleanup
  .github/workflows/centralized-pr-automation.yml
Due: prettier

feat: add comprehensive automation protection system
  .github/hooks/pre-commit
  docs/automation-protection.md
  scripts/protect-critical-files.ps1
Due: prettier

fix: correct workflow names in automation scripts
  .github/workflows/auto-process-all-prs.yml
  scripts/auto-process-all-prs.ps1
Due: prettier

fix: resolve test failures in automation pipeline
  src/App.test.jsx
  src/components/AddItemModal.test.jsx
Due: prettier, eslint

fix: use centralized-pr-automation.yml for auto-merge step
  .github/workflows/auto-process-all-prs.yml
  scripts/auto-process-all-prs.ps1
Due: prettier

fix: resolve all test failures for automation pipeline
  .github/workflows/auto-pipeline.yml
  AGENTS.md
  src/App.test.jsx
  src/components/AddItemModal.test.jsx
  t --state all --limit 20
  tatus
Due: prettier, eslint

fix: resolve test failures for automation pipeline
  src/App.test.jsx
  src/components/AddItemModal.test.jsx
Due: prettier, eslint

feat: add complete automation system to main branch
  .github/workflows/auto-pipeline.yml
  .github/workflows/auto-process-all-prs.yml
  scripts/auto-process-all-prs.ps1
  scripts/protect-critical-files.ps1
Due: prettier

fix: restore complete automation system with all improvements
  .github/hooks/pre-commit
  .github/workflows/centralized-pr-automation.yml
  docs/automation-protection.md
Due: prettier

fix: add checkout step to auto-update-prs workflow
  .github/workflows/auto-update-prs.yml
Due: prettier

feat: derive load capacity from class base load (#453)
  src/components/InventoryPanel.test.jsx
  src/data/classData.js
  src/hooks/useInventory.js
  src/state/character.js
Due: prettier, eslint

fix: improve merge job to handle unstable PRs properly
  .github/workflows/centralized-pr-automation.yml
Due: prettier

feat: add ammo resource and volley spending controls (#457)
  AGENTS.md
  src/App.jsx
  src/components/CharacterStats.test.jsx
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.test.jsx
  src/components/RollModal.jsx
  src/components/RollModal.test.jsx
  src/data/itemTags.js
  src/hooks/useDiceRoller.js
  src/state/character.js
  t --state all --limit 20
  tatus
Due: prettier, eslint

feat: use STR mod for Hack & Slash (#451)
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.test.jsx
Due: prettier, eslint

fix: upgrade @emotion/is-prop-valid from 1.3.1 to 1.4.0
  package-lock.json
  package.json
Due: prettier

fix: upgrade @tauri-apps/plugin-fs from 2.4.2 to 2.4.4
  package-lock.json
  package.json
Due: prettier

fix: upgrade @tauri-apps/plugin-opener from 2.5.0 to 2.5.2
  package-lock.json
  package.json
Due: prettier

fix: upgrade @tauri-apps/api from 2.8.0 to 2.9.0
  package-lock.json
  package.json
Due: prettier

fix: upgrade @radix-ui/react-separator from 1.1.7 to 1.1.8
  package-lock.json
  package.json
Due: prettier
