Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix

chore: (re)create PR/Issue templates + sentinel workflow
  .github/ISSUE_TEMPLATE/ux-stage.md
  .github/pull_request_template.md
  .github/workflows/templates-sentinel.yml
Due: prettier

fix(vite): let dev server set content-type
  docs/dev-server-content-type.md
  vite.config.js
Due: prettier, eslint

fix: let vite handle mime types
  docs/dev-server-mime-types.md
  docs/ux-upgrade-plan.md
  vite.config.js
Due: prettier, eslint

docs: explain dev vs build workflows
  .prettierignore
  README.md
  assets/index.BFB3uZ_Q.js
  docs/dev-vs-build.md
  eslint.config.js
  index.html
Due: prettier, eslint

docs: add root element initialization notes
  docs/root-element-init.md
  docs/ux-upgrade-plan.md
  src/main.tsx
Due: prettier, eslint

fix(app): guard compact mode initializer for SSR
  docs/compact-mode.md
  src/App.jsx
  src/utils/responsive.js
  src/utils/responsive.test.js
Due: prettier, eslint

chore(docs): format UX upgrade plan
  docs/csp.md
  docs/ux-upgrade-plan.md
  src-tauri/tauri.conf.json
Due: prettier

docs: describe runtime error handling
  docs/error-handling.md
  docs/ux-upgrade-plan.md
  src/components/ErrorBoundary.test.jsx
  src/components/ErrorBoundary.tsx
  src/main.tsx
Due: prettier, eslint

docs: add UX upgrade plan (no runtime changes)
  docs/ux-upgrade-plan.md
Due: prettier

chore(scripts): add issue-template helper
  init-ux-issue-template.ps1
Due: none

chore: add PR template
  .github/pull_request_template.md
Due: prettier

chore: add /dev/components preview
  docs/tokens.md
  package-lock.json
  package.json
  postcss.config.js
  src/App.css
  src/components/ui/primitives.js
  src/dev/DevComponents.jsx
  src/main.tsx
  src/state/ThemeContext.jsx
  src/styles/theme.css
  tailwind.config.js
Due: prettier, eslint

feat: add color and shadow tokens
  docs/tokens.md
  tailwind.config.js
Due: prettier, eslint

feat(dev): add DevPrimitivesPreview TSX component
  src/components/dev/DevPrimitivesPreview.tsx
  src/main.tsx
Due: prettier, eslint

feat: add tailwind base tokens
  docs/tokens.md
  src/styles/tailwind.css
Due: prettier

build: load tailwind base stylesheet
  docs/tailwind-entry.md
  src/main.tsx
  src/styles/tailwind.css
Due: prettier, eslint

docs: document Tailwind forms plugin
  docs/forms.md
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier, eslint

refactor: replace hard-coded colors with design tokens
  docs/codex.md
  docs/tokens.md
  public/avatars/default.svg
  public/avatars/poisoned.svg
  public/icon.svg
  public/tauri.svg
  public/vite.svg
  src/assets/react.svg
  src/styles/theme.css
Due: prettier

fix: centralize theme import and resolve glow token self-reference
  docs/tailwind-entry.md
  docs/tokens.md
  src/App.css
  src/styles/tailwind.css
Due: prettier

fix(a11y): respect prefers-reduced-motion
  docs/tokens.md
  package-lock.json
  package.json
  src/components/ExportModal.jsx
  src/components/common/Button.jsx
  src/components/common/Button.module.css
  src/components/dev/DevPrimitivesPreview.tsx
  src/motion/tokens.ts
  src/styles/theme.css
Due: prettier, eslint

chore: remove legacy modal transition hook
  docs/tokens.md
  docs/ux-upgrade-plan.md
  src/components/AddItemModal.jsx
  src/components/AidInterfereModal.jsx
  src/components/BondsModal.jsx
  src/components/DamageModal.jsx
  src/components/EndSessionModal.jsx
  src/components/ExportModal.jsx
  src/components/GameModals.jsx
  src/components/InventoryModal.jsx
  src/components/LastBreathModal.jsx
  src/components/LevelUpModal.jsx
  src/components/RollModal.jsx
  src/components/StatusModal.jsx
  src/components/common/Button.jsx
  src/components/common/useModalTransition.js
  src/components/dev/DevPrimitivesPreview.tsx
  src/motion/reduced.ts
Due: prettier, eslint

Fix glass background syntax in about.html
  about.html
Due: prettier

Add comprehensive development rules and project guidelines for ZimboMate
  .cursorrules
Due: none

Create theme lab mockup with dynamic themes and interactive UI components
  docs/mockups/theme-lab.html
Due: prettier

docs(readme): rebrand to ZimboMate and update badges
  CONTRIBUTING.md
  README.md
  docs/codex.md
Due: prettier

build(tauri): set productName and bundle identifier to ZimboMate
  index.html
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier

test(e2e): update test paths to use zimbomate binary name
  tests/e2e.setup.ts
  tests/setup.js
Due: prettier, eslint

chore(scripts): update package name in utility scripts
  fix-prs.mjs
  fix-prs.ps1
Due: prettier, eslint

Rename project from zimbo-panel to zimbomate
  package-lock.json
  src/components/AppVersion.tsx
Due: prettier, eslint

Enhance UI with star background, glass effects, and subtle animations
  about.html
Due: prettier

feat(settings): add cosmic-v2 theme toggle
  docs/tokens.md
  docs/ux-upgrade-plan.md
  src/App.test.jsx
  src/components/CharacterHUD/CharacterHUD.jsx
  src/components/CharacterHUD/CharacterHUD.module.css
  src/components/InventoryPanel.jsx
  src/components/InventoryPanel.module.css
  src/components/Settings.jsx
  src/components/styles.js
  src/components/ui/Card.tsx
  src/components/ui/Panel.tsx
  src/components/ui/Toolbar.tsx
  src/state/ThemeContext.jsx
  src/state/theme.js
  src/styles/tailwind.css
  src/styles/theme.css
  tailwind.config.js
Due: prettier, eslint

test: centralize Tauri e2e setup
  tests/app.e2e.spec.ts
  tests/app.e2e.test.js
  tests/e2e.setup.ts
  vitest.e2e.config.js
Due: prettier, eslint

test: extract XP helpers
  tests/app.e2e.spec.ts
  tests/app.e2e.test.js
  tests/utils.ts
Due: prettier, eslint

test: resolve platform-specific app path for e2e
  tests/app.e2e.spec.ts
  tests/app.e2e.test.js
  tests/setup.js
Due: prettier, eslint

test: add data-testid attributes for e2e stability
  src/App.jsx
  src/components/CharacterStats.jsx
  src/components/ExportModal.jsx
  src/components/InventoryModal.jsx
  src/components/Settings.jsx
  tests/app.e2e.spec.ts
  tests/app.e2e.test.js
Due: prettier, eslint

style: format pull request template
  .github/pull_request_template.md
  tests/app.e2e.spec.ts
  tests/app.e2e.test.js
Due: prettier, eslint

chore: reformat PR template
  .github/pull_request_template.md
Due: prettier

fix(GameModals): provide safe default for handleUpdateNotes to prevent render-time ReferenceError
  src/components/GameModals.jsx
Due: prettier, eslint

chore: remove unused tauri dependencies
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
