Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix

style: use modal color tokens in CharacterStats
  src/components/CharacterStats.module.css
Due: prettier

refactor: use shared buttons in CharacterStats
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
Due: prettier, eslint

chore: restore Cargo.lock
  src/components/CharacterStats.jsx
Due: prettier, eslint

style: replace panel with inline modal for stats
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
Due: prettier, eslint

feat: animate character stats modal
  src/components/CharacterStats.jsx
Due: prettier, eslint

fix: correct reset resources button closing tag
  src/components/CharacterStats.jsx
Due: prettier, eslint

feat: animate character stats panel
  eslint.config.js
  src/components/CharacterStats.jsx
  src/components/dev/DevPrimitivesPreview.tsx
Due: prettier, eslint

fix: center character stats panel
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
Due: prettier, eslint

fix: use modal tokens for stats colors
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
Due: prettier, eslint

refactor: simplify CharacterStats layout
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
Due: prettier, eslint

fix: regenerate panda token css
  src/styles/panda.css
Due: prettier

Remove all external CSS dependencies - Panda CSS, PostCSS, Google Fonts, and Tailwind @apply directives
  index.html
  package-lock.json
  package.json
  panda.config.ts
  postcss.config.js
  src/App.css
  src/components/AidInterfereModal.module.css
  src/components/ArwesWrapper.jsx
  src/components/CharacterAvatar.module.css
  src/components/CharacterHUD/Portrait.module.css
  src/components/CommandPalette.module.css
  src/components/DiceRoller.module.css
  src/components/FxDemo.jsx
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.module.css
  src/components/Navigation.jsx
  src/components/RollModal.module.css
  src/components/SessionNotes.module.css
  src/components/dev/DevPrimitivesPreview.tsx
  src/components/panels/PanelKranox.jsx
  src/components/panels/PanelOctagon.jsx
  src/styles/global.css
  src/styles/panda.css
Due: prettier, eslint

feat: add animated space background
  src/App.css
  src/styles/AppStyles.module.css
Due: prettier

feat(theme): add Arwes theme
  src/App.test.jsx
  src/components/Settings.jsx
  src/state/ThemeContext.test.jsx
  src/state/theme.js
  tests/app.e2e.spec.ts
Due: prettier, eslint

feat(button): add neon border glow
  src/components/common/Button.module.css
Due: prettier

feat(theme): add arwes theme variables
  src/styles/theme.css
Due: prettier

docs: remove screenshot placeholder
  README.md
Due: prettier

fix: resolve CSS vendor prefix ordering and remove unused components
  MIGRATION.md
  about.html
  docs/mockups/theme-lab.html
  src/App.css
  src/components/ArwesWrapper.jsx
  src/components/FloatingDiceButton.module.css
  src/components/FxDemo.jsx
  src/components/Navigation.jsx
  src/components/RollModal.module.css
  src/components/TestPage.jsx
  src/components/dev/DevPrimitivesPreview.tsx
  src/components/panels/index.js
  src/styles/AppStyles.module.css
  src/styles/global.css
  src/styles/starBackground.scss
  src/styles/theme.css
  tatus --porcelain
  tests/e2e.setup.ts
Due: prettier, eslint

fix: resolve CSS vendor prefix ordering in remaining files
  src/components/LevelUpModal.module.css
  src/components/SessionNotes.module.css
  src/styles/global.css
Due: prettier

feat: add equipment and inventory panels
  src/App.jsx
  src/components/AddItemModal.jsx
  src/components/AddItemModal.test.jsx
  src/components/EquipmentPanel.jsx
  src/components/EquipmentPanel.test.jsx
  src/components/InventoryPanel.jsx
  src/components/InventoryPanel.test.jsx
  src/components/ItemDetailModal.jsx
  src/components/common/inventoryItemPropTypes.js
  src/data/itemTags.js
  src/hooks/useInventory.js
  src/state/character.js
  src/styles/AppStyles.module.css
Due: prettier, eslint

Remove Windows-specific rollup dependency and add bug report
  BUG_REPORT.md
  package-lock.json
  package.json
Due: prettier

feat: adopt bento grid layout
  src/App.jsx
  src/styles/AppStyles.module.css
Due: prettier, eslint

refactor: use Panel for session notes
  src/components/SessionNotes.jsx
  src/components/SessionNotes.module.css
Due: prettier, eslint

feat(ui): add hud panel style
  src/components/ui/Panel.tsx
  src/styles/AppStyles.module.css
  src/styles/theme.css
Due: prettier, eslint

docs: add AI agent guide
  AGENTS.md
Due: prettier

fix: remove scanlines and flicker effects, update z-index hierarchy
  AGENTS.md
  klist  findstr node
  src/App.jsx
  src/styles/AppStyles.module.css
  tatus --porcelain
Due: prettier, eslint

feat: implement unique glow patterns for each panel type
  src/components/CharacterHUD/CharacterHUD.jsx
  src/components/CharacterStats.jsx
  src/components/EquipmentPanel.jsx
  src/components/InventoryPanel.jsx
  src/components/SessionNotes.jsx
  src/components/ui/Panel.tsx
  src/styles/theme.css
Due: prettier, eslint

fix: implement responsive max-width layout for wide screens
  src/styles/AppStyles.module.css
Due: prettier

feat: use STR mod for Hack & Slash
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.test.jsx
Due: prettier, eslint

feat: add manual aid/interfere resolution
  src/App.jsx
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.test.jsx
  src/hooks/useDiceRoller.help.test.jsx
  src/hooks/useDiceRoller.js
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

feat: derive load capacity from class base load
  src/components/InventoryPanel.test.jsx
  src/data/classData.js
  src/hooks/useInventory.js
  src/state/character.js
Due: prettier, eslint

feat: add alignment field and editing
  src/components/CharacterStats.jsx
  src/components/CharacterStats.module.css
  src/components/CharacterStats.test.jsx
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
  src/state/character.js
Due: prettier, eslint

test: add spells panel tests
  src/App.jsx
  src/components/CharacterStats.jsx
  src/components/CharacterStats.test.jsx
  src/components/LevelUpModal.jsx
  src/components/LevelUpModal.test.jsx
  src/components/SpellsPanel.jsx
  src/components/SpellsPanel.test.jsx
  src/state/character.js
  src/styles/AppStyles.module.css
Due: prettier, eslint

feat: add house-rule resource toggle
  README.md
  src/components/CharacterStats.jsx
  src/components/CharacterStats.test.jsx
  src/components/LevelUpModal.test.jsx
  src/components/Settings.jsx
  src/components/Settings.test.jsx
  src/state/SettingsContext.jsx
  src/state/SettingsContext.test.jsx
Due: prettier, eslint

feat: add ammo tracking and SRD item tags
  src/App.jsx
  src/components/CharacterStats.jsx
  src/components/CharacterStats.test.jsx
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.test.jsx
  src/components/RollModal.jsx
  src/components/RollModal.test.jsx
  src/data/itemTags.js
  src/hooks/useDiceRoller.js
  src/state/character.js
Due: prettier, eslint

feat: implement centralized PR automation system
  .github/workflows/centralized-pr-automation.yml
  .github/workflows/comment-handler.yml
  docs/centralized-automation.md
Due: prettier

fix: resolve bash syntax error in centralized automation workflow
  .github/workflows/centralized-pr-automation.yml
Due: prettier

fix: update conflict resolution to prefer PR changes for everything
  .github/workflows/resolve-all-prs.yml
  docs/centralized-automation.md
Due: prettier

feat: add automated pipeline script for all PRs
  scripts/auto-all-prs.sh
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
