Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --fix

define missing color variables (#148)
  src/styles/theme.css
Due: prettier

refactor: unify theme variables (#147)
  src/styles/theme.css
Due: prettier

feat(theme): add classic theme variables and switching (#144)
  src/App.test.jsx
  src/state/ThemeContext.jsx
  src/state/theme.js
  src/styles/theme.css
Due: prettier, eslint

Track individual die rolls and support array results (#127)
  src/App.test.jsx
  src/components/RollModal.jsx
  src/components/RollModal.test.jsx
  src/hooks/useDiceRoller.help.test.js
  src/hooks/useDiceRoller.js
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

Add Last Breath modal triggered on fatal damage (#125)
  src/App.jsx
  src/components/DamageModal.jsx
  src/components/DamageModal.test.jsx
  src/components/GameModals.jsx
  src/components/LastBreathModal.jsx
  src/components/LastBreathModal.module.css
  src/components/LastBreathModal.test.jsx
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

chore: clean up helper scripts (#115)
  .gitignore
  README.md
  fix-all-prs.ps1
  fix-pr-21.ps1
  fix-prs.ps1
  git-sync-ask.ps1
  git-sync-ask.sh
Due: prettier

chore: consolidate pr fix scripts
  fix-all-prs.ps1
  fix-pr-21.ps1
  fix-prs.ps1
Due: none

chore: add sync script and docs
  README.md
  package.json
Due: prettier

chore: add sync script and docs (#158)
  README.md
  package.json
Due: prettier

test: remove obsolete help XP test
  src/App.test.jsx
Due: prettier, eslint

feat: add Aid/Interfere combat roll
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

test: add Aid/Interfere roll test
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

test: cover aid flow for dice roller
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.help.test.js
  src/hooks/useDiceRoller.js
Due: prettier, eslint

test: remove help mechanics tests
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

feat: add aid or interfere support
  package-lock.json
  package.json
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.help.test.js
  src/hooks/useDiceRoller.js
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

test: remove obsolete help XP test (#159)
  src/App.test.jsx
Due: prettier, eslint

feat: add Aid/Interfere combat roll (#160)
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

test: add Aid/Interfere roll test (#161)
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

test: cover aid flow for dice roller (#162)
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.help.test.js
  src/hooks/useDiceRoller.js
Due: prettier, eslint

test: remove help mechanics tests (#163)
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

feat: add aid or interfere support (#164)
  package-lock.json
  package.json
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.js
Due: prettier, eslint

feat: add aid and interfere mechanics (#124)
  src/App.test.jsx
  src/components/DiceRoller.test.jsx
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.js
  src/hooks/useDiceRoller.test.jsx
Due: prettier, eslint

chore: add fix-prs automation script
  fix-prs.mjs
  package.json
Due: prettier, eslint

chore: add fix-prs automation script (#165)
  fix-prs.mjs
  package.json
Due: prettier, eslint

docs: document PR maintenance scripts
  CONTRIBUTING.md
Due: prettier

docs: document PR maintenance scripts (#166)
  CONTRIBUTING.md
Due: prettier

fix: stabilize dice roller XP handling
  src/App.test.jsx
  src/hooks/useDiceRoller.aid.test.js
  src/hooks/useDiceRoller.js
  src/setupTests.js
Due: prettier, eslint

chore: reuse PR branch when diff matches
  fix-prs.ps1
Due: none

chore: reuse PR branch when diff matches (#168)
  fix-prs.ps1
Due: none

fix: reset end session modal state on open
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
Due: prettier, eslint

fix: recalc xp thresholds after experience updates
  src/App.test.jsx
  src/components/CharacterStats.jsx
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
  src/hooks/useDiceRoller.js
Due: prettier, eslint

feat: add session summary to end session modal
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
Due: prettier, eslint

feat(end-session): flag pending level ups
  src/components/CharacterStats.test.jsx
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
  src/components/LevelUpModal.jsx
  src/components/LevelUpModal.test.jsx
  src/state/character.js
Due: prettier, eslint

feat: add session recap sharing
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.module.css
  src/components/EndSessionModal.test.jsx
  src/state/character.js
Due: prettier, eslint

feat: add end-session checklist
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.test.jsx
Due: prettier, eslint

feat: record session recap and timestamp on session end
  docs/codex.md
  src/components/EndSessionModal.jsx
  src/components/EndSessionModal.module.css
  src/components/EndSessionModal.test.jsx
  src/state/character.js
Due: prettier, eslint

feat: add end session modal
  src/App.jsx
  src/App.test.jsx
  src/components/GameModals.jsx
  src/styles/AppStyles.module.css
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
