Repository thwoom/zimbo-tauri-character-sheet: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown, html, yaml]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        args: ['--fix']
      - id: vitest
        name: vitest
        entry: npm test
        language: system
        pass_filenames: false

refactor: use Tauri fs helpers
  src/utils/fileStorage.js
  src/utils/fileStorage.test.js
Due: prettier, eslint

docs: describe file storage location
  docs/file-storage.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/utils/fileStorage.js
  src/utils/fileStorage.test.js
Due: prettier, eslint

fix: handle missing inventory notes handler
  src/components/InventoryModal.jsx
  src/components/InventoryModal.test.jsx
Due: prettier, eslint

fix: reference built tailwind styles
  assets/index.BFB3uZ_Q.js
  assets/index.C-Uxc1T5.css
  assets/index.DtFH3NPX.js
  assets/index.fjj3Y_iY.js
  index.html
Due: prettier, eslint

fix(styles): load theme before Tailwind
  docs/tailwind-entry.md
  src/styles/tailwind.css
Due: prettier

docs: describe UI primitive variants
  docs/ui-primitives.md
  src/components/ui/Card.tsx
  src/components/ui/Panel.tsx
  src/components/ui/Toolbar.tsx
Due: prettier, eslint

feat(styles): add glass blur token and utility class
  docs/tokens.md
  src/App.css
  src/components/AidInterfereModal.module.css
  src/components/CharacterAvatar.module.css
  src/components/CharacterHUD/Portrait.module.css
  src/components/CharacterStats.module.css
  src/components/DiceRoller.module.css
  src/components/LastBreathModal.module.css
  src/components/LevelUpModal.module.css
  src/components/RollModal.module.css
  src/components/SessionNotes.module.css
  src/styles/theme.css
  tailwind.config.js
Due: prettier, eslint

docs: document hud tailwind migration
  docs/character-hud.md
  src/components/CharacterHUD/CastIndicator.jsx
  src/components/CharacterHUD/CastIndicator.module.css
  src/components/CharacterHUD/Nameplate.jsx
  src/components/CharacterHUD/Nameplate.module.css
  src/components/CharacterHUD/Portrait.jsx
  src/components/CharacterHUD/Portrait.module.css
  src/components/CharacterHUD/ResourceBars.jsx
  src/components/CharacterHUD/ResourceBars.module.css
  src/components/CharacterHUD/StatusTray.jsx
  src/components/CharacterHUD/StatusTray.module.css
  src/components/CharacterHUD/index.jsx
  src/components/CharacterHUD/index.module.css
  src/components/CharacterHUD/index.test.jsx
  src/components/InventoryModal.jsx
  src/components/InventoryModal.module.css
Due: prettier, eslint

docs: remove deprecated theme references
  docs/hud-theme.md
  docs/tokens.md
  src/components/Settings.jsx
  src/state/theme.js
Due: prettier, eslint

Add AI generation and clipboard support to AddItemModal
  src/components/AddItemModal.jsx
  src/components/GameModals.test.jsx
  src/hooks/useInventory.js
  src/state/ThemeContext.jsx
Due: prettier, eslint

Add drag-and-drop character import and minor UI improvements
  src/App.jsx
  src/App.test.jsx
  src/components/AddItemModal.jsx
  src/components/GameModals.test.jsx
  src/state/theme.js
  src/styles/AppStyles.module.css
Due: prettier, eslint

Add roll presets with local storage persistence in DiceRoller
  src/components/DiceRoller.jsx
  src/components/DiceRoller.test.jsx
Due: prettier, eslint

Add command palette with global keyboard shortcut
  src/App.jsx
  src/App.test.jsx
  src/components/CommandPalette.jsx
  src/components/CommandPalette.module.css
Due: prettier, eslint

Checkpoint before follow-up message
  src/App.jsx
  src/components/VersionHistoryModal.jsx
  src/state/CharacterContext.jsx
Due: prettier, eslint

Add test for version history modal and snapshot restoration
  src/App.test.jsx
Due: prettier, eslint

Add print functionality for character sheet with preview modal
  src/App.jsx
  src/App.test.jsx
  src/components/PrintableSheet.jsx
  src/styles/print.css
Due: prettier, eslint

Add inventory load tracking and display total weight
  src/components/InventoryPanel.jsx
  src/components/InventoryPanel.test.jsx
  src/hooks/useInventory.js
Due: prettier, eslint

Add tags input and markdown export to session notes component
  src/components/SessionNotes.jsx
  src/components/SessionNotes.module.css
Due: prettier, eslint

Add coin resource to character stats and initial state
  src/components/CharacterStats.jsx
  src/state/character.js
Due: prettier, eslint

Add prompts modal with copy-paste functionality for session import
  src/App.jsx
  src/components/AddItemModal.jsx
  src/components/GameModals.jsx
  src/components/PromptsModal.jsx
  src/data/prompts.js
  src/setupTests.js
Due: prettier, eslint

Add floating dice roller modal with presets and improved UX
  src/App.jsx
  src/App.test.jsx
  src/components/DiceRollerModal.jsx
  src/components/DiceRollerModal.module.css
  src/components/DiceRollerModal.test.jsx
  src/components/FloatingDiceButton.jsx
  src/components/FloatingDiceButton.module.css
  src/components/FloatingDiceButton.test.jsx
  src/styles/AppStyles.module.css
Due: prettier, eslint

Add comprehensive integration tests for floating dice roller component
  src/components/FloatingDiceIntegration.test.jsx
Due: prettier, eslint

Add allowed hosts for development server access
  vite.config.js
Due: prettier, eslint

Add TypeScript types and minor configuration updates
  package-lock.json
  package.json
  src/components/AppVersion.tsx
  src/main.tsx
  src/motion/tokens.ts
  tests/app.e2e.spec.ts
  tests/e2e.setup.ts
Due: prettier, eslint

Update README with new features, settings, and environment variables
  README.md
Due: prettier

Update README and add git sync script for project management
  README.md
  git-sync-ask.sh
Due: prettier

Create comprehensive about page for ZimboMate with detailed features and styling
  about.html
Due: prettier

Checkpoint before follow-up message
  about.html
Due: prettier

Rewrite about page with surreal, existential narrative style
  about.html
Due: prettier

Refactor about page with clearer, more concise language and updated content
  about.html
Due: prettier

Enhance about page with more immersive, time-bending narrative descriptions
  about.html
Due: prettier

Enhance mobile web app support and improve glass effect styling
  about.html
Due: prettier

Refactor about page with improved styling, tech stack, and theme sections
  about.html
Due: prettier

Add Panda CSS styled-system to .gitignore
  .gitignore
  MIGRATION.md
  assets/index.DtFH3NPX.js
  eslint.config.js
  package-lock.json
  package.json
  panda.config.ts
  postcss.config.js
  src/components/AppVersion.tsx
  src/components/ArwesWrapper.jsx
  src/components/FxDemo.jsx
  src/components/dev/DevPrimitivesPreview.tsx
  src/components/panels/PanelKranox.jsx
  src/components/panels/PanelOctagon.jsx
  src/components/panels/index.js
  src/main.tsx
  src/styles/global.css
  src/styles/panda.css
  src/styles/tailwind.css
  tailwind.config.js
  tests/app.e2e.spec.ts
  tests/e2e.setup.ts
Due: prettier, eslint

Add navigation component and routing improvements for multi-page app
  src/components/ArwesWrapper.jsx
  src/components/Navigation.jsx
  src/main.tsx
  vite.config.js
Due: prettier, eslint

Update ESLint config with TypeScript resolver and additional file extensions
  eslint.config.js
Due: prettier, eslint

Add debug log and update navigation styling for visibility
  src/components/Navigation.jsx
  src/styles/panda.css
Due: prettier, eslint

Remove comprehensive development rules document
  .cursorrules
Due: none
